$font-size-root: 20px;
$text-field-outlined-fieldset-border: 0px;

$primary: (
  pale: #D5EEE2,
  light: #5DC894,
  main: #006835,
  dark: #003119,
);

$secondary: (
  pale: #F4FFBE,
  light: #E6F599,
  main: #ADCF01,
  dark: #7F9705,
);

$base: (
  pale: #DBDBDB,
  light: #9D9D9D,
  main: #4F4F4F,
  dark: #121212,
);

$accent1: (
  pale: #E5F0FF,
  light: #A8C9F5,
  main: #2F80ED,
  dark: #034092,
);

$accent2: (
  pale: #FFFAEA,
  light: #FFEDB5,
  main: #F2C94C,
  dark: #BE9109,
);

$alert: (
  pale: #FFEBEB,
  light: #FFABAB,
  main: #E15757,
  dark: #A81A1A,
);

$background: (
  light: #FAFAFA,
  main: #ffffff,
  dark: #000000,
);

$main: #006835;
$darkGray: #4F4F4F;
$red: #E15757;
$lightRed: #FF8C8C;
$lightGray: #F2F2F2;
$lightGreen: #ADCF01;
$gray: #D3D3D3;
$white: #fff;

:export {
  main: $main;
  darkGray: $darkGray;
  red: $red;
  lightRed: $lightRed;
  gray: $gray;
  lightGray: $lightGray;
  lightGreen: $lightGreen;

  @each $key, $value in $primary {
    primary_#{unquote($key)}: $value;
  }
  @each $key, $value in $secondary {
    secondary_#{unquote($key)}: $value;
  }
  @each $key, $value in $base {
    base_#{unquote($key)}: $value;
  }
  @each $key, $value in $accent1 {
    accent1_#{unquote($key)}: $value;
  }
  @each $key, $value in $accent2 {
    accent2_#{unquote($key)}: $value;
  }
  @each $key, $value in $alert {
    alert_#{unquote($key)}: $value;
  }
  @each $key, $value in $background {
    background_#{unquote($key)}: $value;
  }
}
